In [2]:
import numpy as np
import pandas as pd

In [3]:
topmovies = pd.read_csv("top100.csv")

In [4]:
topmovies

    Unnamed: 0  MovieID
0         5317   232944
1        15124   216596
2        14313   200832
3        15205   196397
4         1905   193941
..         ...      ...
95       11337   116767
96         457   116762
97        6844   116716
98       10583   116609
99        3151   116362

[100 rows x 2 columns]

In [5]:
terms = pd.read_csv('movie_titles.txt', sep='\t', encoding = "ISO-8859-1", header=None, index_col=0)

In [6]:
terms = terms.iloc[:,:2]

In [7]:
terms = terms.iloc[:,1:]

In [8]:
topmovies["Unnamed: 0"]

0      5317
1     15124
2     14313
3     15205
4      1905
      ...
95    11337
96      457
97     6844
98    10583
99     3151
Name: Unnamed: 0, Length: 100, dtype: int64

In [9]:
def toTitle(MovieID):
    return terms.loc[ MovieID , : ][2]

In [10]:
def initial_rating(n):
    print("These are the top",n, "most popular movies based on overall ratings:")
    print("Please rate at least 5. We can then start providing you recommendations based on your initial input!")
    print("")
    for mov in range(0,n):
        ID = topmovies["Unnamed: 0"][mov]
        print("MovieID:",ID, " Title:", toTitle(ID))
    cont = True
    ratings = []
    while cont and len(ratings) < 5:
        a = int(input("Enter MovieID that you wish to rate:"))
        print("You are rating", toTitle(a))
        b = int(input("Rate from 1 to 5"))
        print("You rated", toTitle(a), "as a", b)
        ratings.append([a,b])
        if len(ratings)>= 5:
            c = input("Rate another movie? Y/N?")
            if c == "Y" or c == "y":
                continue
            else:
                cont = False
        
    print(ratings)

In [11]:
#initial_rating(20)

In [15]:
def initial_rating2(n):
    print("These are the top",n, "most watched movies on our system:")
    print("Please rate at least 5 movies on a scale of 1 to 5 (1,2,3,4,5), you haven't seen it just hit Enter.")
    print("We can then start providing you recommendations based on your initial input!")
    print("")
    ratings = []
    for mov in range(0,n):
        ID = topmovies["Unnamed: 0"][mov]
        print("You are rating", toTitle(ID))
        try:
            while True:
                b = int(input("Rate from 1 to 5: "))
                if b < 1 or b > 5:
                    print("Sorry, your response must be on a scale of 1 to 5.")
                    continue
                else:
                    break
            print("You rated", toTitle(ID), "as a", b)
            ratings.append([ID,b])
        except:
            print("You skipped", toTitle(ID))
            print("")
            continue
        print("")
        
        
    print(ratings)

In [16]:
user_ratings = initial_rating2(20)

These are the top 20 most watched movies on our system:
Please rate at least 5 movies on a scale of 1 to 5 (1,2,3,4,5), you haven't seen it just hit Enter.
We can then start providing you recommendations based on your initial input!

You are rating Miss Congeniality
Rate from 1 to 5: 5
You rated Miss Congeniality as a 5

You are rating Independence Day
Rate from 1 to 5: 5
You rated Independence Day as a 5

You are rating The Patriot
Rate from 1 to 5: 3
You rated The Patriot as a 3

You are rating The Day After Tomorrow
Rate from 1 to 5: 4
You rated The Day After Tomorrow as a 4

You are rating Pirates of the Caribbean: The Curse of the Black Pearl
Rate from 1 to 5: 6
Sorry, your response must be on a scale of 1 to 5.
Rate from 1 to 5: 8
Sorry, your response must be on a scale of 1 to 5.
Rate from 1 to 5: 5
You rated Pirates of the Caribbean: The Curse of the Black Pearl as a 5

You are rating Pretty Woman
Rate from 1 to 5: 2
You rated Pretty Woman as a 2

You are rating Forrest Gump
Rate from 1 to 5: 1
You rated Forrest Gump as a 1

You are rating The Green Mile
Rate from 1 to 5: 3
You rated The Green Mile as a 3

You are rating Con Air
Rate from 1 to 5:
You skipped Con Air

You are rating Twister
Rate from 1 to 5:
You skipped Twister

You are rating Sweet Home Alabama
Rate from 1 to 5:
You skipped Sweet Home Alabama

You are rating Pearl Harbor
Rate from 1 to 5:
You skipped Pearl Harbor

You are rating Armageddon
Rate from 1 to 5:
You skipped Armageddon

You are rating The Rock
Rate from 1 to 5:
You skipped The Rock

You are rating What Women Want
Rate from 1 to 5:
You skipped What Women Want

You are rating Bruce Almighty
Rate from 1 to 5:
You skipped Bruce Almighty

You are rating Ocean's Eleven
Rate from 1 to 5:
You skipped Ocean's Eleven

You are rating The Bourne Identity
Rate from 1 to 5:
You skipped The Bourne Identity

You are rating The Italian Job
Rate from 1 to 5:
You skipped The Italian Job

You are rating I
Rate from 1 to 5:
You skipped I

[[5317, 5], [15124, 5], [14313, 3], [15205, 4], [1905, 5], [6287, 2], [11283, 1], [16377, 3]]